<div class="my-faces">
  <img
    *ngFor="let image of carousel.images; index as i"
    src="{{ image.src }}"
    alt="Emilio Torres face"
    (click)="changeFace()"
    class="my-face"
    [@nextFace]="this.carousel.images[i].show ? 'show' : 'hide'"
    [ngClass]="{ 'restart-face': carousel.restartFace && i == 0 }"
  />
</div>
<h1 class="my-name">
  <span
    *ngFor="let char of 'Emilio Torres'.split(''); index as i"
    (click)="changeColor(i)"
    [@nextColor]="this.lettersColor[i]"
    >{{ char }}</span
  >
</h1>
