<div class="my-faces">
  <img *ngFor="let image of carousel.images; index as i" src="{{image.src}}" alt="Emilio Torres' face" (click)="carousel.nextImage()"
  class="my-face" [@nextFace]="this.carousel.images[i].show ? 'show' : 'hide'" [ngClass]="{'restart-face' : carousel.restartFace && i == 0}">
</div>
<h1 class="my-name">Emilio Torres</h1>
<div class="info">
  <div class="box-logo" style="margin-right: 18px">
    <img class="info-logo" src="assets/info/github.svg">
  </div>
  <div class="box-logo">
    <img class="info-logo" src="assets/info/curriculum__profile__resume.svg">
  </div>
  <div class="box-logo" style="margin-left: 18px">
    <img class="info-logo" src="assets/info/fi-xnsuxl-linkedin.svg">
  </div>
  <div class="flex-br"></div>
  <div class="box-email">
    <a href="mailto:me@etorresh.com" target="_blank">me@etorresh.com</a>
  </div>
</div>
