<div class="my-faces">
  <img *ngFor="let image of carousel.images; index as i" src="{{image.src}}" alt="Emilio Torres' face" (click)="carousel.nextImage()"
  class="my-face" [@nextFace]="this.carousel.images[i].show ? 'show' : 'hide'" [ngClass]="{'restart-face' : carousel.restartFace && i == 0}">
</div>
<h1 class="my-name">Emilio Torres</h1>
<div class="info">
  <div class="box-logo" style="margin-right: 18px">
    <a class="link-logo" href="https://github.com/etorresh" target="_blank">
      <img class="info-logo" src="assets/info/github.svg" alt="Github profile link">
    </a>
  </div>
  <div class="box-logo">
    <a class="link-logo" href="" target="_blank">
      <img class="info-logo" src="assets/info/curriculum__profile__resume.svg" alt="Download CV">
    </a>
  </div>
  <div class="box-logo" style="margin-left: 18px">
    <a class="link-logo" href="https://www.linkedin.com/in/etorresh/" target="_blank">
      <img class="info-logo" src="assets/info/fi-xnsuxl-linkedin.svg" alt="LinkedIn profile link">
    </a>
  </div>
  <div class="flex-br"></div>
  <div class="box-email">
    <a href="mailto:me@etorresh.com" target="_blank">me@etorresh.com</a>
  </div>
</div>
<div class="card-container">
  <div class="card">
    <div class="card-body">
      <img src="">
      <h3 class="card-title">Full Stack Developer</h3>
      <p class="card-subtitle">Travelpal</p>
    </div>
  </div>
</div>
